.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.detailContainer {
    display: flex;
    justify-content: center;
}

.leftContainer {
    flex-grow: 1;
}

.rightContainer {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
}



/**responsive*/
@media only screen and (max-width: 768px) {


    .detailContainer {
        display: flex;
        flex-direction: column;
        /* flex: 0; */
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
    }   
}
