.detailContainer {
    display: flex;
    justify-content: center;
}

.leftContainer {
    flex-grow: 1;
}

.rightContainer {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
}

h2{
    margin-top: 0;
}

/**responsive*/
@media only screen and (max-width: 768px) {


    .detailContainer {
        display: flex;
        flex-direction: column;
    }   
}
