.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.searchContainer > input {
    border-radius: 8px;
    border: 1px solid #609;
    padding: 15px; 
    width: 200px;
    height: 10px;   
}

/**responsive*/

@media only screen and (max-width: 768px) {

    .searchContainer {
        margin-top: 30px;
        /* display: flex;
        flex-direction: column;
        flex: 0;
        flex-wrap: wrap; */
        display: block;
        text-align: center;

    }

    .searchContainer input {
        display: block;
        margin: auto;
    }
}
